{{>headerError}}
<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div class="number" data-count="404">0</div>
                <div class="text">Page not found</div>
                <div class="text">This may not mean anything.</div>
                <div class="text">Please go back to home page.</div>
            </div>
        </div>
    </div>
</div>            
            
{{>footerError}}