{{>header}}
<h1 id="Weather-heading">Weather App</h1>
<h4>The temperature at the <span class="value">{{address}}</span> is <span class="value">{{temp}} Fahrenheit</span> and its seems
    <span class="value">{{desc}}<img src={{icon}} alt="weather-icon"/></span> </h4>
{{>footer}}