    <script src="/js/app.js"></script>
    <footer>
        <div class="footer-padding">
            <div class="footer">
                <p>Made with ❤️ by Nagendra Babu</p>
            </div>
        </div>
    </footer>
    </body>

    </html>