<!DOCTYPE html>
<html>

<head>
    <title>404 Not Found</title>

    <!--Favicon Begin-->
    <link rel="shortcut icon" href="/Images/favicon.ico" type="image/x-icon">
    <!--Favicon End-->

     <!--Google Fonts Begin-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <!--Google Fonts End-->

    <!--CSS Path Begin-->
    <link rel="stylesheet" href="/CSS/styleserror.css">
    <!--CSS Path End-->

</head>

<body>

